<!--Footer-->

    <!-- <div class="d-flex justify-content-between flex-wrap align-items-center col-md-11 col-lg-9" id="footer">
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><span>&copy; 2022 Marquez, Inc. All rights reserved.</span></li>
        </ul>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a href="#"><i class="bi bi-github"></i></a></li>
            <li class="ms-3"><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
    </div> -->
<footer class="footer">
    <div class="container-fluid col-md-11 col-lg-9" id="footer">
        <ul class="nav navbar-nav" id="copy-footer">
            <li class="nav-item"><span>&copy; 2022 Marquez, Inc. All rights reserved.</span></li>
        </ul>
        <ul class="nav navbar-nav" id="social-footer">
            <li class="nav-item ms-3">
                <a href="#" class="nav-link"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="nav-item ms-3">
                <a href="#" class="nav-link"><i class="bi bi-github"></i></a>
            </li>
            <li class="nav-item ms-3">
                <a href="#" class="nav-link"><i class="bi bi-linkedin"></i></a>
            </li>
        </ul>
    </div>
</footer>