<div class="col-md-11 col-lg-9" id="tags">
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#aboutMe">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#xp">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#education">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
        </li>
    </ul>
</div>
