<!--Projects-->
<div class="col-md-11 col-lg-9 section" id="projects">
    
    <h2>Projects</h2>
    <hr/>
        <div class="item">
            <h3>Portfolio</h3>
            <p>Estoy haciendo este portfolio zarpadoo!</p>
            <p>(imagen)</p>
        </div>
        <div class="item">
            <h3>Proyecto 2</h3>
            <p>(Descripcion)</p>
            <p>(imagen)</p>
        </div>
        <div class="item">
            <h3>Proyecto 3</h3>
            <p>(Descripcion)</p>
            <p>(imagen)</p>
        </div>
    
    <!-- <p>This.portfolioLorem ipsum dolor sit amet consectetur adipisicing elit. Labore quaerat ullam architecto asperiores
        incidunt, quibusdam amet illo repellat sint! Assumenda, doloribus. Error recusandae omnis quas.
        Repellendus minus temporibus optio aspernatur.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias quibusdam, reprehenderit rem ex minima
        voluptatum tenetur atque consequatur. Tenetur atque nihil accusantium hic. Nisi fugit aperiam, numquam
        illo nulla provident</p> -->
</div>
