<!--Projects-->
<div class="col-md-11 col-lg-9 section" id="projects">
    <h2>Projects <a href="/create-project" *ngIf="isLogged"><i class="bi bi-plus-circle-dotted"></i></a></h2>
    <hr/>
    <ul>
        <li *ngFor="let proyecto of proyecto">
            <h3>{{proyecto.nombreProyecto}} 
                <a href="/update-project/{{this.proyecto.idProyecto}}" *ngIf="isLogged"><i class="bi bi-pen"></i></a>
                <a (click)="delete(this.proyecto.idProyecto)" *ngIf="isLogged"><i class="bi bi-trash3"></i></a>
            </h3>
            <p>{{proyecto.descripcionProy}}</p>
            <a href="{{this.proyecto.urlProy}}" target="_blank">Url del proyecto</a>
            <p></p>
        </li>
    </ul>
</div>
