 <!--Banner & Profile-->
 <div class="profile col-md-11 col-lg-9">
    <!--Banner-->
    <div id="banner" style="background-image: url({{persona.imgBanner}});">
        <a href="/update-persona/1" *ngIf="isLogged"><i class="bi bi-pencil"></i></a>
        <!-- <img src="../../../assets/bannerLogo1.jpg" alt="Banner image"> -->
    </div>
    <!--Profile Photo-->
    <div id="profilePicture">
        <img src="{{persona.imgProfile}}" alt="Profile picture" id="pp">
    </div>
</div>
<!-- ../../../assets/profilePhoto.jpeg 

../../../assets/bannerLogo1.jpg

{{persona.imgBanner}}
{{persona.imgProfile}}-->