 <!--Banner & Profile-->
 <div class="profile col-md-11 col-lg-9">
    <!--Banner-->
    <div id="banner">
        <img src="../../../assets/bannerLogo1.jpg" alt="Banner image">
    </div>
    <div>
        <a href="/update-persona/1" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i></a>
    </div>
    <!--Profile Photo-->
    <div id="profilePicture">
        <img src="{{persona.imgProfile}}" alt="Profile picture" id="pp">
    </div>
</div>
<!-- ../../../assets/profilePhoto.jpeg 

../../../assets/bannerLogo1.jpg

{{persona.imgBanner}}-->