<section  class="vh-100" *ngIf="edu">
    <div class="container py-5 h-100">
        <div class="row">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Nombre de la institución y años transcurridos</label>
                    <input type="text" class="form-control" name="nombreEdu" id="nombreEdu" [(ngModel)] = "edu.nombreEdu" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu">Descripcion de estudios, titulo, etc</label>
                    <input type="text" class="form-control" name="descripcionEdu" id="descripcionEdu" [(ngModel)] = "edu.descripcionEdu" required>
                </div>
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</section>
