<section  class="vh-100">
    <div class="container py-5 h-100">
        <div class="row">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreSkill">Nombre skill</label>
                    <input type="text" class="form-control" name="nombreSkill" id="nombreSkill" [(ngModel)] = "nombreSkill" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje de skill</label>
                    <input type="text" class="form-control" name="porcentaje" id="porcentaje" [(ngModel)] = "porcentaje" required>
                </div>
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</section>

